{% extends 'AppBundle:Default:index.html.twig' %}

{% block body -%}
    <h1>Comment creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a>
        <a href="{{ path('announcement_show',{'id':entity.announcement.id}) }}">
            Back to announcement
        </a>
    </li>
</ul>
{% endblock %}
