<h1>Hello world!</h1>
<ul>
    <li>
        <a href="{{ path('fos_user_registration_register') }}">register</a>
    </li>
    <li>
        <a href="{{ path('fos_user_security_login') }}">login</a>
    </li>
    <li>
        <a href="{{ path('fos_user_security_logout') }}">logout</a>
    </li>
</ul>