<h3>
    What for?
</h3>
<p>
    This is just a presentation of what can be obtained usign symfony framework.
    Just a simple app, that should introduce following utilities:
</p>
<ul>
    <li>
        user registration
    </li>
    <li>
        loged user can add new ads
    </li>
    <li>
        user can comment on ads
    </li>
    <li>
        unloged users can comment as anonims
    </li>
    <li>
        after experation date is reached ad is visible only for user that created it and for admin
    </li>
</ul>
<h3>
    Why so crude look?
</h3>
<p>
    As it was mantioned before, main purpose is to show
</p>